# Desciption ansible playbook
---
- name: Install ssh keys to host
  hosts: all
  tasks:
    - name: Copy SSh Key | copying shh key to remote host
      ansible.posix.authorized_key:
        user: "{{ ansible_user }}"
        state: present
        key: "{{ lookup('file', item) }}"
      loop: "{{ lookup('fileglob', '/home/user_keys/*', wantlist=True) }}"
      when: item | regex_findall('.*pub$', multiline=True, ignorecase=True)
      become: false
...
